.button--goteo {
  width: 100%;
  word-wrap: break-word;

  .goteo-logo {
    display: inline-block;
  }

  .goteo-logo svg {
    height: 1rem;
  }

  .goteo-logo svg,
  .icon--external-link-line {
    margin-left: .35rem;
  }
}
