<h2><%= t(".title") %></h2>

<% campaign_needs.each do |need| %>
  <div class="definition-data__item">
    <span class="definition-data__title">
      <%= need["name"] %>
    </span>

    <span class="definition-data__text text-left">
      <%= render_markdown need["description"] %>
    </span>
  </div>
<% end %>
