<h3 class="section-heading">
  <%= t(".title") %>
</h3>

<div class="collapsible-list row small-up-1 card-grid">
  <% rewards = current_campaign.rewards %>

  <% rewards.slice!(0, 3).each do |reward| %>
    <%= render partial: "decidim/social_crowdfunding/campaigns/reward", locals: { reward: reward } %>
  <% end %>
</div>

<a id="more-rewards-button" href="#more-rewards" class="button button--sc hollow expanded" data-toggle="more-rewards more-rewards-button" data-toggler=".hide">
  <%= t(".see_all") %>
</a>

<div data-toggler=".hide" id="more-rewards" class="hide collapsible-list row small-up-1 card-grid">
  <% rewards.each do |reward| %>
    <%= render partial: "decidim/social_crowdfunding/campaigns/reward", locals: { reward: reward } %>
  <% end %>
</div>
