<div class="card__list-list">
  <% current_campaign.social_commitments.each do |commitment| %>
    <div class="card__container">
      <div class="card__social">
        <span class="card__title">
          <strong>
            <%= translated_attribute(commitment["name"]) %>
          </strong>
        </span>

        <div class="card__text--paragraph">
          <%= render_markdown translated_attribute(commitment["description"]) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
