<h3 class="section-heading">
  <%= t(".title") %>
</h3>

<% current_campaign.social_commitments.each do |commitment| %>
  <div>
    <h3>
      <%= translated_attribute(commitment["name"]) %>
    </h3>
    <p>
      <%= render_markdown translated_attribute(commitment["description"]) %>
    </p>
  </div>
<% end %>
